<h3>Edit article:</h3>
<% form_for @article do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.error_messages %>
<table class="blue-line">
  <tr>
    <td width="100px">Title</td><td width="5px">:</td><td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td>Body</td><td>:</td><td><%= f.text_area :body, :cols => 40, :rows => 5 %></td>
  </tr>
  <tr>
    <td colspan="3"><hr /></td>
  </tr>
  <tr>
    <td><%=link_to "Back", articles_path %></td>
    <td colspan="2" align="right"><%= f.submit %></td>
  </tr>
</table>
<% end %>