<h3>Sell a Product</h3>
<% form_for @product do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.error_messages %>
<table width="50%" class="blue-line">
  <tr>
    <td width="100px">Name</td><td width="5px">:</td><td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Description</td><td>:</td><td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td>Price ($)</td><td>:</td><td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <td>Location</td><td>:</td><td><%= f.text_field :location %></td>
  </tr>
  <tr>
    <td>Weight</td><td>:</td><td><%= f.text_field :weight %></td>
  </tr>
  <tr>
    <td>Category</td><td>:</td><td><%= f.select :category_id, 
      Category.all(:conditions => ["parent_id IS NOT NULL"]).map { |x| [x.name, x.id]},
      { :include_blank => true} %></td>
  </tr>
  <tr>
    <td colspan="3"><hr /></td>
  </tr>
  <tr>
    <td><%= link_to "Back", homes_path%></td>
    <td colspan="2" align="right"><%= f.submit %></td>
  </tr>
</table>
<% end %>